{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %} Login {% endblock %}

{% block for_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="form-card">
        <h2 class="text-center">Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-grid">
                {{ form | crispy }}
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
    </div>
</div>
{% endblock %}
