{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %} Sign In {% endblock %}

{% block for_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup-container">
    <div class="form-card">
        <h2 class="text-center">Sign In</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-grid">
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field}}
                    {{ field.errors|striptags }}

                </div>
                {% endfor %}
            </div>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</div>
{% endblock %}